/* app/login/login.module.scss */
.loginContainer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #004D61 0%, #002d39 100%);
  padding: 24px;
}

.loginCard {
  background: white;
  padding: 40px;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.logoArea {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;

  label {
    font-size: 0.9rem;
    font-weight: 700;
    color: #334155;
  }

  input {
    padding: 12px;
    border: 1px solid #CBD5E1;
    border-radius: 8px;
    font-size: 1rem;
    outline-color: #47A138;
  }
}

.loginBtn {
  background-color: #FF5031; // Laranja Bytebank
  color: white;
  padding: 14px;
  border-radius: 8px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.9;
  }
}